<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>| DaySpaw |</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     </link>
     <link rel="stylesheet" href="/css/login.css">    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Mochiy+Pop+One&family=Prata&display=swap"
          rel="stylesheet">
</head>


<body>
     <main>
          <section id="subprime">
               <div id='header'>
                    <img src="/assets/images/paw-print.png" alt="doggy paw print" class="float-left fade-in"
                         id="left-paw">
                    <h1 id="title">DaySpaw</h1>
                    <img src="/assets/images/paw-print.png" alt="doggy paw print" class="float-right fade-in"
                         id="right-paw">
                    <div class="banner"></div>
               </div>
               <br class="margin">
               {{{body}}}
          </section>
     </main>

     <a id="form" href=""></a>

     {{!-- {{#if logged_in}} --}}
     <div class="navbar-fixed">
          <nav>
               <div class="nav-wrapper">                   
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                         <li><a href="sass.html">Appointments</a></li>
                         <li><a href="badges.html">Schedules</a></li>
                         <li><a href="collapsible.html">New Customer</a></li>
                         <li><a href="">Logout</a></li>
                    </ul>
               </div>
          </nav>
     </div>
     {{!-- {{/if}} --}}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" defer></script>
     <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js" defer>
     </script>
     <script src="/js/login.js" defer></script>
</body>

</html>
