{{!-- Populate each appointment into a box --}}

{{#each appointments as |appointment| }}
<div class="col s12 m7">
    <h4 class="header">{{appointment_time}}</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h3></h3>
          <p>Doggie</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
{{/each}}