
  <nav class="teal lighten-2">
    <div class="nav-wrapper brand-logo center">
      <ul id="nav-align"class="center">
          <li class="active"><a href="/appointments">Appointments</a></li>
          <li><a href="/addAppt">Add Appointment</a></li>
          <li><a href="/customers">New Customer</a></li>
          <li><a href="" id="logout">Logout</a></li>
        </ul>
    </div>
  </nav>

  {{!-- Populate each appointment into a box --}}
{{#each appointments as |appointment| }}
<form value="{{customer_id}}" id="notifyForm">
  <div class="col s12 m7 z-depth-2">
    <h5 class="header" style="text-align: left; margin-left: 12%;">{{appointment_time}}</h5>
    <div class="card horizontal" style="margin: auto 10% 10px">
      <div class="card-stacked">
        <div class="card-content">
          <h3></h3>
          <p>Doggie</p>
          <p value="{{customer.customer_id}}"></p>
        </div>
        <div class="card-action">
        </div>
      </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
          Notify
        </button>
        <p></p>
    </div>
  </div>
</form>
{{/each}}

<script src="/js/appointments.js"></script>