{{!-- Populate each appointment into a box --}}

{{#each appointments as |appointment| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h3>{{appointment_time}}</h3>
    <h3>{{customer.dog_name}}</h3>
  </div>
</div>
{{/each}}