<<<<<<< HEAD
<h5 class="welcome text-padding" id="faderSub">
    <span id="static">
          Welcome,
    </span>
    <br>
    <span id="typefield">                        
          Employee
    <span>
</h5>
<h6 class="welcome text-padding" id="faderPls">Please enter your login credentials:</h6>
<div class="section"></div>

<div class="container">
    <div class="z-depth-1 grey lighten-4 row"
          style="display: inline-block; padding: 20px 60px 0px 60px; border: 1px solid #eeeeee;">

          <form class="col s12" method="post" id="form">
              <div class='row'>
                    <div class='col s12'>
                    </div>
              </div>

              <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' name='user' id='user' />
                        <label for='user'>Enter your username</label>
                    </div>
              </div>

              <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' />
                        <label for='password'>Enter your password</label>
                    </div>
              </div>

              <br />

              <div class='row'>
                    <button id="button-text" type='submit' name='btn_login'
                        class='col s12 btn btn-small waves-effect'>Login<i
                              class="material-icons right">send</i></button>
              </div>
          </form>
    </div>
</div>
=======
<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="name-login">name:</label>
    <input class="form-input" type="text" id="name-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
</form>

<script src="/js/login.js"></script>
>>>>>>> 94a484325afac43a37af460b1e8f050f8495c508
